<footer class="text-center text-white mt-3" style="background-color: #1a1e21;">
    <div class="container text-center">
      <div class="row mb-4 text-center"> 
        <div class="col-12 mt-3">
         <a class="p-2" href="https://www.instagram.com/juampi_costa/"><i class="bi bi-instagram" style="color: rgba(40,125,125,255);"></i></a>
         <a class="p-2" href="https://twitter.com/juampi_costa"><i class="bi bi-twitter" style="color: rgba(40,125,125,255);"></i></a>
         <a class="p-2" href="https://github.com/Juampicosta123"><i class="bi bi-github" style="color: rgba(40,125,125,255);"></i></a>
        </div>
      </div>
      <a class="text-white">juampicosta81@gmail.com</a>
    </div>
    <div class="text-center p-3 mt-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://portfolio-ef698.web.app/">https://portfolio-ef698.web.app/</a>
    </div>
  </footer>
