<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-3 ">
              <div class="mb-md-4 mt-md-4 ">
                <button class="btn btn-outline-light mb-3" routerLink="/">
                    Volver
                </button>
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="text-center">
                    <div class="form-group">
                        <label for="nombreE">Nombre de la empresa</label>
                        <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required> 
                    </div>
                    <div class="form-group mt-2">
                        <label for="descripcionE">Descripción de la tarea</label>
                        <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required> 
                    </div>
                    <button class="btn btn-lg px-5 mt-5" style="background-color: rgba(40,125,125,255);">
                        Agregar
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>